#HomeTitle {
    font-size: 50px;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    box-shadow: 0 0 30px 20px rgb(0, 0, 0);
    /* Box shadow to make the button pop */
    text-align: center;
    margin-top: 25%;
}

#buttonContainer {
    position: relative;
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
    margin-top: 20px;
    /* Adjust as needed */
}

#HowToPlayButton,
#vsComputerButton,
#passAndPlayButton {
    position: absolute;
}

#HowToPlayButton {
    top: 20%;
    left: 45%;
    
}

#vsComputerButton {
    bottom: 30%;
    left: 25%;
   
}

#passAndPlayButton {
    bottom: 30%;
    right: 25%;
    
}

