<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Users</title>
    <link href="{{ url_for('static', filename='CSS/pages/adminStyles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='CSS/components/basics.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='CSS/components/container.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='CSS/pages/index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <h1 class ="header">Admin Users</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('admin_home') }}" class ="link">Dashboard</a></li>
                    <li><a href="{{ url_for('manage_users') }}" class ="link">Manage Users</a></li>
                    <li><a href="{{ url_for('logout') }}" class ="link">Logout</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h2>List of Admins</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in admins %}
                    <tr>
                        <td>{{ admin.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

        <footer>
            <p>2025 NHL Fantasy. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
