<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../static/CSS/companants/card.css">
</head>

<body>
    <div class="card">
        <img class="formatedCard" src="../static/images/FormattedCard.png" alt="Formatted Card" height="800"
            width="800">
        <div class="cardContent">
            <div class="row">
                <div class="column"> <img class="teamLogo" src="../static/images/test-card-team.png" alt="Team logo"
                        height="50" width="50"> </div>
                <div class="column">
                    <h2 class="position">{[Position]}</h2>
                </div>
            </div>

            <img class="playerPicture" src="../static/images/test-card-player.jpg" alt="Player picture" height="300"
                width="350">
            <h2 class="playerName">{[Name]}</h2>
            <div class="stats">
                <div class="row">
                    <div class="column">
                        <h3 class="height">NO</h3>
                    </div>
                    <div class="column">
                        <h3 class="goals">NO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <h3 class="weight">NO</h3>
                    </div>
                    <div class="column">
                        <h3 class="gamesPlayed">NO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <h3 class="assist">NO</h3>
                    </div>
                    <div class="column">
                        <h3 class="shooting">NO</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

</html>