<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
    <div class="card">
        <img class="formatedCard" src="../static/images/FormattedCard.png" alt="Formatted Card">
        <div class="cardContent">
            <img class="playerPicture" src="../static/images/test-card-player.jpg" alt="Player picture" height="100" width="100">
            <div class="playerInfo">
                <h2 class="position">Position</h2>
                <h2 class="playerName">Wayne Gretzky</h2>
            </div>
        </div>
    </div>
                   
</body>
</html>