<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vs The Computer</title>
    <link rel="stylesheet" href="../static/CSS/pages/vsComputer.css">
    <link rel="stylesheet" href="../static/CSS/companants/button.css">
    <link rel="stylesheet" href="../static/CSS/companants/container.css">
    <link rel="stylesheet" href="../static/CSS/companants/basics.css">
</head>
<body>
    <div class="container">
    <h1 id="Title">VS The Computer</h1>
    <form action="pickUpCard.html" class="form">
        <label id="label" for="score">Set the score you're going to:</label>
        <div class="input-container">
            <input type="text" id="score" name="score">
            <input type="submit" id="setButton" value="set">
        </div>
    </form>
    <a href="home.html" class="button-class" id="exit">Exit</a>
    </div>
</body>
</html>