h2,
h3 {
    color: rgb(255, 255, 255);
}

.card {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Make sure the container takes the full height of the viewport */
    margin-top: 15%;
}

.formattedCard {
    max-width: 100%;
    border-radius: 5px;
    z-index: 0;
    /* Ensure the image is below the button */
}

.cardContent {
    position: absolute;
    z-index: 1;
}

.position {
    padding-top: 80%;
    padding-bottom: 0px;
}

.teamLogo {
    padding-top: 82%;
    padding-bottom: 0px;
    padding-left: 40%;
    border-radius: 50%;
}

.playerName {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25%;

}

.playerPicture {
    padding-bottom: 0px;
    position: relative;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-card-left {
   float: left;
    width:40%;
}

.column-card-right {
    float: right;
    width:40%;
}

.column-card-middle {
    float: left;
    width:20%;
}


.stats {
    padding-top: 0px;

    padding-left: 25%;
}

.goals,
.gamesPlayed,
.shooting {
    padding-top: 0px;

    padding-left: 50%;
}

.blankCard {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Make sure the container takes the full height of the viewport */
    margin-top: 15%;
    
    
}

.usersName{
    background-color: chartreuse;
    border: 2px solid black;
    width: 20%;
    margin-bottom: 5%;
    text-align: center;
    font-size: auto;
}

.opponentName{
    background-color: red;
    border: 2px solid black;
    width: 20%;
    margin-bottom: 5%;
    text-align: center;
    font-size: auto;
}

body {
    background-image: url("../../images/vsBackround-resized-again.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}